pybind11==2.6.2
six
regex
numpy==1.20.2
git+https://github.com/EleutherAI/DeeperSpeed.git@eb7f5cff36678625d23db8a8fe78b4a93e5d2c75#egg=deepspeed
mpi4py==3.0.3
wandb==0.10.28
einops==0.3.0
transformers==4.5.0
tokenizers==0.10.2
lm_dataformat==0.0.19
ftfy==6.0.1
git+https://github.com/igor0/lm-evaluation-harness.git@a56b90d041fd2ab228746e751e6d727c063f0bf8
